<!Doctype html>

<html xmlns:th="http://thymeleaf.org">
    <head th:replace="layout :: site-head">
        <title>Spring MVC Application</title>
    </head>

    <header th:replace="layout :: logged-out"></header>

    <body>
        <h1>All Technical Post</h1>
        <main id="posts">
            <post th:each="p: ${all_posts}">
                <h2 th:text="${p.title}"></h2>
                <i>Posted on: </i> <span th:text="${p.date}"></span>
                <div>
                    <p th:text="${p.body}"></p>
                </div>
            </post>
        </main>
    </body>
</html>